.containerMobile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.containerDesktop {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}
