/* components/admin/DentalPracticeBox/DentalPracticeBox.module.css */
.box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background: #fff;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.tabs button:hover {
  background-color: var(--secondary-color);
}

.activeTab {
  background-color: var(--secondary-color) !important;
  color: #fff;
}

