/* components/admin/AdminPanelCard/AdminPanelCard.module.css */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #ccc;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: #bbb;
}

.cardContent h2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 16px;
  margin: 0;
}
