/* Banner Container */
.banner {
  background-color: var(--primary-color);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between; /* Logo on the left, Sign In on the right */
  padding: 10px 20px;
}

/* Logo Section */
.logoSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.name {
  font-weight: bold;
  font-size: 20px;
}

.navSection {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Sign In Section */
.navItem {
  color: var(--white);
  background-color: var(--primary-color);
  padding: 5px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover Effect for Sign In Section */
.navItem:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    text-align: center;
  }

  .navItem {
    margin-top: 10px;
  }
}
